@using MiniCMS.Models
@model SitePartners
@{
    ViewBag.Title = "Log in";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="">
    <div class="row">
        <div class="col-md-6 ">
            <div class="x_title">
                <h2>Add new Partner</h2>
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Create", "SitePartners", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form class="form-label-left input_mask">
                                <div>
                                    <div class="form-group">
                                        <div class="form-group row">
                                            @Html.LabelFor(U => U.Name, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                @Html.TextBoxFor(U => U.Name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(U => U.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group row">
                                            @Html.LabelFor(E => E.LangId, new { @class = "col-md-2 control-label" })
                                            @{
                                                List<SelectListItem> lst = (List<SelectListItem>)ViewBag.language;
                                            }
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                @Html.DropDownListFor(model => model.LangId, lst, "--select Language--", new { @class = "form-control", @Required = "Required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span></span>

                                <div class="ln_solid"></div>
                                <div>
                                    <div class="form-group">
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "col-md-2 control-label" })
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                <input type="file" id=" ImgUpload" onchange="ImgPre(this)" name="Image" class="form-control" />
                                                <p>
                                                    <img id="ImgPreview" style="width:100px;height:100px" />
                                                </p>
                                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group row">
                                    <div class="col-md-9 col-sm-9  offset-md-3">
                                        <a href="/SitePartners/Index" class="btn btn-primary"> Back to Home</a>
                                        <button type="submit" class="btn btn-success">Add Partner</button>
                                    </div>
                                </div>

                            </form>
                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script>
    function ImgPre(input) {
        if (input.files[0]) {
            var uploadimg = new FileReader();
            uploadimg.onload = function (displayimg) {
                $("#ImgPreview").attr('src', displayimg.target.result);
            }
            uploadimg.readAsDataURL(input.files[0]);
        }
    }
</script>
