@model List<MiniCMS.Models.SiteNews>
<a href="/SiteNews/Create" class="btn btn-primary">
    <span class="fa fa-plus"></span>
    Add New Article
</a>
<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">

                <th class="column-title">Title </th>
                <th class="column-title">Details </th>
                <th class="column-title">Image </th>
                <th class="column-title">Date</th>
                <th></th>
                <th></th>

            </tr>
        </thead>


        <tbody>
            @if (Model != null)
            {


                foreach (var item in Model)
                {


                    <tr class="even pointer">

                        <td class=" "><a href="/SiteNews/Details/@item.Id" target="_blank">@item.Title</a> </td>
                        <td class=" ">@item.Details</td>
                        <td class=" "><img src="@Url.Content(item.Image)" width="30" height="30" class="img-responsive" /></td>
                        <td class=" ">@item.Date</td>
                        <td>
                            <div class="text-center">

                                <a href="@Url.Action("Edit","SiteNews",new {id = item.Id })" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </a>

                            </div>
                        </td>


                        <td>
                            <div class="text-center">

                                <a href="@Url.Action("Delete","SiteNews",new { id = item.Id})" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </a>

                            </div>
                        </td>





                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>no data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
